.pad_space{
    margin: 3px;
}

.reqrd{
    color: red;
    font-weight: bold;
    font-size: 20px;
}

.login_bg {
    position: relative;
    z-index: 5;
    /*height: 250px;*/
    /*width: 300px;*/
    /*color: #000;*/
    /*font-size: 400%;*/
    /*padding: 20px;*/
}

.login_bg::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url("../dist/img/bg_img/img1.jpg") center center;
    opacity: .6;
}

/*.login_container .row{*/
/*    !*position: absolute;*!*/
/*    !*width: auto;*!*/
/*    !*height: auto;*!*/
/*    !*margin-top: 50px;*!*/
/*    position: absolute;*/
/*    top:0;*/
/*    bottom: 0;*/
/*    left: 0;*/
/*    right: 0;*/

/*    margin: auto;*/
/*}*/
